/* ------------------------------------------------------ */
/* VARIABLES                                               */
/* ------------------------------------------------------ */
:root {
    --azul-claro: #5A7DBE;
    --azul-oscuro: #1F3C73;
    --gris-claro: #F4F4F4;
    --gris-oscuro: #1A1A1A;
    --blanco: #FFFFFF;

    --font-titulo: 'Playfair Display', serif;
    --font-texto: 'Montserrat', sans-serif;
}

/* ------------------------------------------------------ */
/* BASE                                                   */
/* ------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-texto);
    background: var(--blanco);
    color: var(--gris-oscuro);
    line-height: 1.6;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

h1, h2, h3 {
    font-family: var(--font-titulo);
    color: var(--azul-oscuro);
}

.section-inner {
    width: min(1100px, 90%);
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ------------------------------------------------------ */
/* HEADER                                                 */
/* ------------------------------------------------------ */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--azul-claro);
}

.logo {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.logo > a{
    color: var(--gris-claro);
}

.bars {
    display: none;
}

.nav_bar ul {
    display: flex;
}

.nav_bar ul li a {
    display: block;
    color: var(--gris-oscuro);
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.5s;
    margin: 0 5px;
}

.nav_bar ul li a:hover {
    background-color: var(--azul-claro);
    color: var(--blanco);
}

.nav_bar ul li a.active {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}

.nav_bar ul li a.active:hover {
    background-color: var(--azul-claro);
    color: var(--blanco);
}

/* ------------------------------------------------------ */
/* HERO                                                   */
/* ------------------------------------------------------ */
#hero {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    padding-top: 80px; /* altura del header */

}


#hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.25)
    );
    z-index: 1;
}

#hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--blanco);
    z-index: 2;
}

#hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--blanco);
    z-index: 2;
}

#hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background: var(--azul-claro);
    padding: 12px 30px;
    border-radius: 4px;
    color: var(--blanco);
    font-weight: 600;
    transition: .25s;
}

.btn:hover {
    background: var(--azul-oscuro);
}

/* ------------------------------------------------------ */
/* INTRO                                                   */
/* ------------------------------------------------------ */
#intro {
    padding: 60px 0;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro p {
    width: min(700px, 90%);
    margin: 15px auto 0 auto;
}

/* ------------------------------------------------------ */
/* DESTACADOS                                              */
/* ------------------------------------------------------ */
#destacados {
    padding: 60px 0;
    height: 50vh;
    background-color: var(--azul-claro);
}

.grid {
    margin-top: 35px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background: var(--blanco);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.card img {
    height: 180px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
}

.card p {
    padding: 0 15px 20px;
    font-size: 0.95rem;
}

/* ------------------------------------------------------ */
/* FOOTER                                                  */
/* ------------------------------------------------------ */
#footer {
    background: var(--gris-claro);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

/* ------------------------------------------------------ */
/* RESPONSIVE         */
/* ------------------------------------------------------ */
@media (max-width: 900px) {

    header {
        padding: 0 30px;
    }

    /* Botón hamburguesa */
    .bars {
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .bars .line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--gris-claro);
        margin: 6px 0;
    }

    /* Menú móvil */
    .nav_bar {
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.4s;
    }

    .nav_bar.active {
        height: 200px;
        background-color: var(--azul-claro);
    }

    .nav_bar ul {
        display: block;
        text-align: center;
        justify-content: center;
        opacity: 0;
        margin-top: 80px auto 0 auto;
        transition: .4s;
    }

    .nav_bar.active ul {
        opacity: 1;
        padding-top: 40px;
    }

    .nav_bar ul li a {
        margin-bottom: 20px;
        color: var(--gris-claro);
    }

    /* Grid responsive */
    .grid {
        grid-template-columns: 1fr;
    }

    #hero {
        height: 100vh;
    }

    #hero-content h1 {
        font-size: 2.3rem;
    }
}






/* ------------------------------------------------------ */
/* CLIMA — BLOQUE PRINCIPAL                               */
/* ------------------------------------------------------ */

#weather-section {
    padding: 120px 0 60px;
}

/* Fondo con fotos dinámicas */
#weather-current {
    position: relative;
    overflow: hidden;
    min-height: 320px;
    border-radius: 14px;
    padding: 30px;
    color: var(--blanco);
    transition: 0.4s ease;
    background-size: cover;
    background-position: center;
}

#weather-current::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    border-radius: 14px;
    z-index: 1;
}

#weather-current * {
    position: relative;
    z-index: 2;
}

#weather-current h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--blanco);
    
}

#weather-current p {
    text-shadow: 0 2px 6px rgba(255, 255, 255, 0.55);
}

/* ------------------------------------------------------ */
/* TARJETAS PRONÓSTICO                                    */
/* ------------------------------------------------------ */

#forecast-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
    gap: 20px;
}

.forecast-card {
    background: var(--gris-claro);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.forecast-card:hover {
    transform: translateY(-5px);
    background: var(--azul-claro);
    color: var(--blanco);
}

/* ------------------------------------------------------ */
/* LEYENDA PERSONALIZADA                                  */
/* ------------------------------------------------------ */

.chart-legend {
    display: flex;
    gap: 12px;
    margin: 30px 0 20px;
}

.chart-legend button {
    background: var(--gris-claro);
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    color: var(--azul-oscuro);
    transition: 0.25s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
}

.chart-legend button:hover {
    background: var(--azul-claro);
    color: var(--blanco);
    transform: translateY(-3px);
    box-shadow: 0 5px 14px rgba(0,0,0,0.12);
}

.chart-legend button.inactive {
    opacity: 0.5;
}

/* Animación suave */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to   { opacity: 1; transform: translateY(0); }
}


/* TIPS */

#tips {
    padding: 70px 0;
    background: var(--blanco);
    height: 50vh;
}

#tips h2 {
    text-align: center;
    margin-bottom: 35px;
    color: var(--blanco);
}

.tips-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.tip-card {
    background: var(--blanco);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
    text-align: center;
    transition: .3s ease;
}

.tip-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.tip-icon {
    font-size: 2rem;
    margin-bottom: 15px;
}

.tip-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--azul-oscuro);
}

.tip-card p {
    font-size: .95rem;
    color: var(--gris-oscuro);
    line-height: 1.4;
}

/* Responsive */
@media (max-width: 900px) {
    .tips-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .tips-grid {
        grid-template-columns: 1fr;
    }
}
